<main>
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h1>Evidence</h1>
                <p>Maybe you also have the opinion that one should make factual, evidence-based decisions in medicine, politics, companies and so on. And you are right! This is very important. Statistics are used to show us data for informed decision making. We try to show that policy measures were succesful or not. We want to show that vaccines work. We want to convince people that climate change is happening. We want to show the staff why we are expanding to china and not to the USA.</p>
                <p>But people have to use statistics in an informed way. Because often people want to influence people by misuse.</p>
                <p>Keep your eye open. You can find examples on many websites like "viz.wtf". A kind-of personal best-of i collected below. </p>
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 3"></button>

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/wtfviz/1.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>Can you basically see anything?</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/wtfviz/2.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>38% almost 50%?</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/wtfviz/3.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>Suddenly a much smaller number of cases is much more severe? Sudden change in colormap? </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/wtfviz/4.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>22% are higher than all other bars even though other figures are larger? y-axis is something absolute?</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/wtfviz/5.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>Barchart which does not sum up to 100% is useless</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/wtfviz/6.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>40 000 less than 100 000?</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/wtfviz/7.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>Suddenly 8% are more?</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/wtfviz/8.png" class="d-block" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>60% and 9% almost no difference</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <p>This was now about the public and graphs. Of course there are much more things one could do when trying to influence people. Special Research Designs could be a problem, or the misuse of statistical testing. And exactly that is the problem we want to adress with this project!</p>
                <p>Below you can find some references and thanks to. Otherwise I would recomend you to go to the next page. <a routerLink="/tests" class="btn btn-primary">Next Page</a> </p>
            </section>
            <section id="thanks">
                <h1>Thanks to</h1>
                <ul>
                    <li>my supervisors klaus eckelt & patrick adelberger</li>
                    <li>to my course instructors in visual analytics marc streit, klaus eckelt & patrick adelberger</li>
                    <li>my course instructor in data- and research designs in ecomomics alexander ahammer who had severe impact to increase my intrest in this topic</li>
                    <li>many other university professors and course instructors during my studies of economics and aritifical inteligence</li>
                    <li>many people on stackoverflow</li>


                </ul>
            </section>
            <section>
                <h1>References</h1>
                <p>The practical work as well as the theoretical background would not have been possible without these resources: </p>
            </section>
        </div>
    </div>
</main>