<p>As your already saw at the previous page you can find quite some relationships!</p>

<main>
    <select class="form-control" [(ngModel)]="selectedOption" (ngModelChange)="onChange()" (mouseleave)="onChange()" (mouseout)="onChange()" (click)="onChange()" (keypress)="onChange()">
        <option value="No correction" selected>without correction </option>
        <option value="Bonferroni correction">Bonferroni correction [underestimated estimation]</option>
        <option value="Bonferroni Step-down correction">Bonferroni Step-down (Holm) correction [medium estimation]</option>
        <option value="Benjamini and Hochberg False Discovery Rate">Benjamini and Hochberg False Discovery Rate [overestimated estimation]</option>

    </select>
    <app-heattable [correction_stragegy]="selectedOption"></app-heattable>
</main>


