<p>As your already saw at the previous page you can find quite some relationships!</p>

<main>
    <select class="form-control" [(ngModel)]="selectedOption" (change)="onChange()">
        <option value="No correction" selected>without correction</option>
        <option value="Bonferroni correction">Bonferroni correction</option>
        <option value="Bonferroni Step-down correction">Bonferroni Step-down (Holm) correction</option>
    </select>
    <app-heattable [correction_stragegy]="selectedOption"></app-heattable>
</main>


