section{
    margin: 0;
    padding-top: 25%;
    padding-bottom: 25%;
    background-image: url("https://jku-vds-lab.at/pinocchio/assets/alina-grubnyak-ZiQkhI7417A-unsplash.jpg");

}
div{
    margin-left: 25%;
    margin-right: 25%;

}
section>div>div{
    font-size: 10rem;
}
section>div{
    text-align: center;
}

