<h1>How they work</h1>

<h2>t-Test</h2>
<p>...</p>
<h3>t-Test in Linear Regression</h3>
<p>For statistical tests we need always two hypothesis! A null hypothesis we want to reject.
In linear regression it is of course a bit more difficult.

    Generally one needs to evaluate if there is a statistically significant relationship between the x and y.
<br>
    So we have
    <br>
    <br>
    <b>H0: β1 = 0 i.e (the slope is equal to zero)</b><br>
    <b>HA: β1 != 0 (the slope is not equal to zero)</b>
</p>

<p>
    Caclulate the test statistic <br>
    t = b / SE_b <br>

    where we have<br>
    b: coefficient<br>
    SE_b: standard error of the coefficient estimate



</p>

<p>
    If the p-value that corresponds to t is less than some threshold (e.g. α = .05) then we reject the null hypothesis and conclude that there is a statistically significant relationship between the predictor variable and the response variable.

    The following example shows how to perform a t-test for a linear regression model in practice.
</p>
<p>https://www.reed.edu/economics/course_pages.archive/red_spots/testing_hypotheses.htm</p>
<p>https://vitalflux.com/linear-regression-t-test-formula-example/</p>
<p>https://www.statology.org/t-test-linear-regression/</p>