td{
    border-left: 1px solid black;
    margin: 1px;
    min-width: 10rem;
    text-align: center;
}
tr{
    border-bottom: 1px solid black;
}
td:last-child{
    border-right: 1px solid black;
}
main{
    padding: 2rem;
}

#xtrue{
    display: block;
}
#xfalse{
    display: none;
}
.iftrue{
    background-color: rgba(0, 255, 0, 0.5);
    font-size: 2rem;
}
.iffalse{
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 2rem;
}