<div class="conti">
    <h1>See a cross data-frame regression significance levels here: </h1>
    <p>These signifcane levels may be already corrected. You have selected: {{correction_stragegy}}</p>

    <div class="spinner-border text-dark" role="status" id="spinner_waiter_{{stati}}">
        <span class="visually-hidden">Loading...</span>
    </div>

    <p>Found {{signis}} significant results. {{signis}}/{{signis_all}}</p>


    <table id="inspect_table" class="table table-striped">
        <tr *ngFor="let rw of table; index as i">
            <td *ngFor="let elem of rw; index as i" class="cl-{{elem.sign}}" title="{{elem.outwrite}}">{{elem.outwrite}}</td>
        </tr>

    </table>
</div>