.cl-lab{
    padding: 0.5rem;
    background-color: #bdbdbd;
}
tr{
    border-bottom: 1px solid black;
}
td{
    border-right: 1px solid black;
}
.cl-true{
    background-color: rgba(0, 255, 0, 0.5);
}
.cl-false{
    background-color: rgba(255, 0, 0, 0.5);
}
table{
    overflow: scroll;
}
.conti{
    padding: 2rem;
    width: 100%;
    overflow: scroll;
}
#spinner_waiter_true{
    visibility: visible;
}
#spinner_waiter_false{
    visibility: hidden;
}