#inspect_table{
    max-width: 100%;
}
#inspect_cont{
    overflow: scroll;
    width: 100%;
}
td{
}

td{
    background-color: #d3e7ff;
    padding: 0.2rem;
}

table{
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: scroll;
}
.cl-true{
    background-color: green;
}