#inspect_table{
    max-width: 100%;
}
#inspect_cont{
    overflow: scroll;
    width: 100%;
}
td{
}

td{
    padding: 0.2rem;
    margin: 0.1rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

table{
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: scroll;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.cl-true{
    background-color: #00ff00;
    border-bottom: 1px solid black;
    border-right: 1px solid black;    border-radius: 1rem;
}